<mat-card class="tag-edit-container">
	<div class="tag-edit-card">
		<mat-form-field class="tag-edit-name">
			<input
				type="text"
				placeholder="Name"
				matInput
				[(ngModel)]="tagName"
			/>
		</mat-form-field>
		<mat-form-field class="tag-edit-color">
			<input
				type="color"
				placeholder="Color"
				matInput
				[(ngModel)]="tagColor"
			/>
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			(click)="onSave()"
			class="tag-edit-save-button"
		>
			Save
		</button>
		<button
			mat-raised-button
			color="warn"
			(click)="onCancel()"
			class="tag-edit-cancel-button"
		>
			Cancel
		</button>
	</div>
</mat-card>
