@import "../../scss/breakpoints";

$padding: 10px;

.projects {
	&-container {
		height: 100%;
		padding: $padding;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
