.notifications {
	&-container {
		display: flex;
		align-items: center;
		box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
			0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
		margin-bottom: 20px;
		padding: 12px 20px;
		max-width: 33vw;
		min-width: 344px;
	}

	&-message {
		flex: 1;
	}
}

.success {
	color: #1b5e20;
	background-color: #a5d6a7;
	border-color: #a5d6a7;
}

.info {
	color: #01579b;
	background-color: #81d4fa;
	border-color: #81d4fa;
}

.danger {
	color: #b71c1c;
	background-color: #ef9a9a;
	border-color: #ef9a9a;
}
