@import './scss/breakpoints';

// Colors
$contentbg: whitesmoke;
$navbg: rgba(32, 32, 32);

// Sizing
$full: 100%;
$navsize: 275px;

.app-container {
	display: flex;
	height: 100vh;
	width: $full;

	.app-nav-toggle{
		margin: 10px;
	}

	.app-nav {
		width: $navsize;
		background: $navbg;
	}

	.app-content {
		flex: 1;
		height: $full;
		width: $full;
		background-color: $contentbg;
	}
}

.app-notification {
	display: flex;
	align-items: center;
    flex-direction: column;
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: $full;
}

@media (max-width: $bp-phone) {

}

@media (min-width: $bp-phone) {

}

@media (max-width: $bp-tablet) {
	.app-nav {
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
	}
}

@media (min-width: $bp-laptop) {

}

@media (min-width: $bp-desktop) {

}
