@import "./scss/breakpoints";

// Colors
$contentbg: whitesmoke;
$navbg: rgba(32, 32, 32);

// Sizing
$full: 100%;
$navsize: 275px;

.app {
	&-container {
		display: flex;
		height: 100vh;
		width: $full;
	}

	&-nav {
		width: $navsize;
		background: $navbg;

		@include bp("max", "tablet") {
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
		}

		&-toggle {
			margin: 10px;
		}
	}

	&-content {
		flex: 1;
		height: $full;
		width: $full;
		background-color: $contentbg;
	}

	&-notification {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		z-index: 2;
		width: $full;
	}
}
