@import "../../scss/breakpoints";

$padding: 10px;

.tag {
	&-container {
		height: 100%;
		padding: $padding;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-done-button {
		color: white;
		background-color: rgb(40, 167, 69);
	}

	&-edit {
		&-container {
			width: 50%;
		}

		&-form {
			display: flex;
			flex-direction: column;
		}
	}
}
