<div class="tag-container">
	<div class="tag-header">
		<h1>Tag</h1>
		<button
			mat-raised-button
			class="success-button"
			[routerLink]="['/tags']"
		>
			Done
		</button>
	</div>
	<mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
	<div *ngIf="!isLoading">
		<h3>
			{{ tag.name }}
		</h3>
		<mat-icon matTooltip="{{ tag.color }}" [ngStyle]="{ color: tag.color }">
			<span>lens</span>
		</mat-icon>
		<div class="tag-edit-container">
			<form
				class="tag-edit-form"
				(ngSubmit)="onSave(name.value, color.value)"
			>
				<mat-form-field>
					<input [value]="tag.name" type="text" #name matInput />
				</mat-form-field>
				<mat-form-field>
					<input type="color" [value]="tag.color" #color matInput />
				</mat-form-field>
				<button
					mat-raised-button
					color="primary"
					class="tag-edit-save-button"
				>
					Save
				</button>
			</form>
		</div>
	</div>
</div>
