<div class="history-container">
	<mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
	<div *ngIf="!isLoading && groupedEntries.length == 0">
		It looks like you don't have any entries yet
	</div>
	<div *ngFor="let date of groupedEntries">
		<h3>{{ date.dateStr }}</h3>
		<p>{{ date.duration | duration }}</p>
		<mat-divider></mat-divider>
		<mat-card
			class="history-entry mat-elevation-z8"
			*ngFor="let timeEntry of date.entries"
		>
			<div class="history-main">
				<mat-form-field class="history-entry-name">
					<input
						type="text"
						[value]="timeEntry.name"
						(change)="onChangeName(timeEntry, timeEntryName.value)"
						#timeEntryName
						matInput
					/>
				</mat-form-field>

				<div class="history-entry-project">
					<mat-chip-list
						class="history-entry-project-badge"
						*ngIf="timeEntry.project"
					>
						<mat-chip
							matTooltip="Click to remove"
							[ngStyle]="{
								color: 'white',
								'background-color': timeEntry.project.color
							}"
							(click)="onClickProjectBadge(timeEntry)"
						>
							{{ timeEntry.project.name }}
						</mat-chip>
					</mat-chip-list>

					<mat-form-field *ngIf="!timeEntry.project">
						<input
							type="text"
							placeholder="Project"
							(ngModelChange)="
								onChangeProjectEdit(timeEntry, $event)
							"
							(focus)="onFocusProjectEdit(timeEntryProject.value)"
							[ngModel]="currentTag"
							[matAutocomplete]="timeEntryProjectAuto"
							#timeEntryProject
							matInput
						/>
						<mat-autocomplete
							#timeEntryProjectAuto="matAutocomplete"
						>
							<mat-option
								*ngFor="let project of projectSubject | async"
								[value]="project"
							>
								<mat-icon
									matTooltip="{{ project.color }}"
									[ngStyle]="{ color: project.color }"
								>
									<span>lens</span>
								</mat-icon>
								{{ project.name }}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>

				<div class="history-entry-start-end">
					{{ timeEntry.start | date: 'h:mm a' }} -
					{{ timeEntry.end | date: 'h:mm a' }}
				</div>

				<h4 class="history-entry-duration">
					{{ timeEntry.duration | duration }}
				</h4>

				<div class="history-entry-delete" matTooltip="Click to delete">
					<mat-icon class="md-red" (click)="onClickDelete(timeEntry)"
						>delete</mat-icon
					>
				</div>

				<div class="history-entry-edit" matTooltip="Click to edit">
					<mat-icon (click)="onClickEdit(timeEntry)">
						<span *ngIf="!timeEntry.isOpen"
							>keyboard_arrow_down</span
						>
						<span *ngIf="timeEntry.isOpen">keyboard_arrow_up</span>
					</mat-icon>
				</div>
			</div>

			<mat-card class="history-edit" *ngIf="timeEntry.isOpen">
				<mat-form-field class="history-entry-tags">
					<mat-select
						placeholder="Tags..."
						[value]="timeEntry.tags"
						[compareWith]="equalTags"
						(selectionChange)="
							onChangeTagEdit(timeEntry, timeEntryTag.value)
						"
						(openedChange)="onOpenedChangeTagEdit($event)"
						multiple
						#timeEntryTag
					>
						<input
							class="history-entry-tags-filter mat-option"
							type="text"
							placeholder="Filter..."
							(keyup)="onKeyupTagFilterEdit()"
							[(ngModel)]="tagFilterValue"
						/>
						<mat-select-trigger>
							<span
								*ngFor="
									let tag of timeEntryTag.value;
									last as isLast
								"
							>
								{{ tag.name }}<span *ngIf="!isLast">,</span>
							</span>
						</mat-select-trigger>
						<mat-option
							*ngFor="let tag of tagsSubject | async"
							[value]="tag"
						>
							<mat-icon
								matTooltip="{{ tag.color }}"
								[ngStyle]="{ color: tag.color }"
							>
								<span>lens</span>
							</mat-icon>
							{{ tag.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<form
					class="history-form"
					(ngSubmit)="
						onSaveEntry(
							timeEntry,
							startTimeInput.value,
							startDateInput.value,
							endTimeInput.value,
							endDateInput.value
						)
					"
				>
					<mat-form-field class="history-entry-input">
						<input
							type="text"
							[value]="timeEntry.start | date: 'HH:mm'"
							[type]="'time'"
							placeholder="Start Time"
							#startTimeInput
							matInput
						/>
					</mat-form-field>

					<mat-form-field class="history-entry-input">
						<input
							[matDatepicker]="startDate"
							placeholder="Start Date"
							[value]="timeEntry.start"
							required
							#startDateInput
							matInput
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="startDate"
						></mat-datepicker-toggle>
						<mat-datepicker #startDate></mat-datepicker>
					</mat-form-field>

					<mat-form-field class="history-entry-input">
						<input
							type="text"
							[value]="timeEntry.end | date: 'HH:mm'"
							[type]="'time'"
							placeholder="End Time"
							#endTimeInput
							matInput
						/>
					</mat-form-field>

					<mat-form-field class="history-entry-input">
						<input
							[matDatepicker]="endDate"
							placeholder="End Date"
							[value]="timeEntry.end"
							#endDateInput
							matInput
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="endDate"
						></mat-datepicker-toggle>
						<mat-datepicker #endDate></mat-datepicker>
					</mat-form-field>

					<button
						mat-raised-button
						class="history-submit"
						color="primary"
					>
						Save
					</button>
				</form>
			</mat-card>
		</mat-card>
	</div>
	<div
		class="history-load-more"
		*ngIf="!isLoading && entryCount === ENTRY_LIMIT"
	>
		<button mat-raised-button color="primary">
			Load More
		</button>
	</div>
</div>
