@import "../../scss/breakpoints";

// Colors
$cardbg: rgb(250, 250, 250);
$green: rgb(40, 167, 69);

// Sizing
$padding: 10px;
$history-padding: 46px;

// History main rows
@mixin history-main-1-row {
	grid-template-columns: 1fr repeat(4, auto);
	grid-template-rows: repeat(1, auto);
	grid-template-areas: "name tag duration delete edit";
}

@mixin history-main-4-row {
	margin-bottom: 5px;
	grid-template-columns: 1fr repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
		"name duration delete edit"
		"tag . . .";
}

.history {
	&-container {
		padding: $padding;

		@include bp("max", "tablet") {
			// To account for nav toggle button at top on mobile
			margin-bottom: $history-padding;
		}
	}

	&-main {
		display: grid;
		align-items: center;
		row-gap: 5px;
		column-gap: 10px;

		@include bp("min", "") {
			@include history-main-4-row;
		}

		@include bp("min", "phone") {
			@include history-main-1-row;
		}

		@include bp("min", "tablet") {
			@include history-main-4-row;
		}

		@include bp("min", "laptop") {
			@include history-main-1-row;
		}
	}

	&-edit {
		background: darken($cardbg, 10%);
	}

	&-submit {
		background-color: $green;
		width: fit-content;
	}

	&-form {
		display: grid;
		align-items: center;
		row-gap: 5px;
		column-gap: 10px;

		@include bp("min", "") {
			grid-template-columns: auto;
			grid-template-rows: repeat(5, auto);
		}

		@include bp("min", "phone") {
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(3, auto);
		}

		@include bp("min", "desktop") {
			grid-template-columns: repeat(5, auto);
			grid-template-rows: auto;
		}
	}

	&-entry {
		margin: 10px;

		&:hover,
		&:active {
			background-color: darken($cardbg, 5%);
		}

		&-name {
			grid-area: name;
		}

		&-tag {
			grid-area: tag;

			&-badge {
				max-width: 20%;
			}
		}

		&-duration {
			grid-area: duration;
		}

		&-delete {
			grid-area: delete;
		}

		&-edit {
			grid-area: edit;
		}
	}

	&-load-more {
		padding: 10px;
		display: flex;
		justify-content: center;
	}
}
