<div class="nav-container">
	<div class="nav-close" (click)="onCloseNav()">
		<mat-icon class="md-light">close</mat-icon>
	</div>
	<h1 class="nav-title" [routerLink]="['/']">Time Tracker</h1>
	<div class="nav-signedin-container" *ngIf="isSignedIn">
		<mat-nav-list>
			<mat-list-item>
				<a
					class="nav-link"
					[routerLink]="['/entries']"
					[routerLinkActive]="'nav-link-active'"
				>
					<mat-icon mat-list-icon class="md-light nav-icon"
						>timer</mat-icon
					>
					<p mat-line class="nav-text">Timer</p>
				</a>
			</mat-list-item>
			<mat-list-item>
				<a
					class="nav-link"
					[routerLink]="['/tags']"
					[routerLinkActive]="'nav-link-active'"
				>
					<mat-icon mat-list-icon class="md-light nav-icon"
						>bookmark</mat-icon
					>
					<p mat-line class="nav-text">Tags</p>
				</a>
			</mat-list-item>
			<mat-list-item>
				<a
					class="nav-link"
					[routerLink]="['/projects']"
					[routerLinkActive]="'nav-link-active'"
				>
					<mat-icon mat-list-icon class="md-light nav-icon"
						>work</mat-icon
					>
					<p mat-line class="nav-text">Projects</p>
				</a>
			</mat-list-item>
		</mat-nav-list>
		<button
			mat-raised-button
			class="nav-signout"
			color="primary"
			(click)="onSignOut()"
		>
			Sign Out
		</button>
	</div>
	<p>
		Created by Caleb Langbroek
	</p>
	<p>
		All code is open source and available on
		<a href="https://github.com/CalebLangbroek/time-tracker">
			Github
		</a>
	</p>
</div>
