@import "../../scss/breakpoints";

$padding: 10px;

.nav {
	&-container {
		color: white;
		padding: $padding;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&-text {
		color: white;
	}

	&-icon {
		margin-bottom: 4px;
		padding: 8px !important;
	}

	&-signedin-container {
		display: flex;
		flex-direction: column;
	}

	&-link {
		display: flex;
		align-items: center;
		width: 100%;
		border-radius: 5px;

		&-active {
			background-color: black;
		}
	}

	&-signout {
		margin: $padding 0;
	}

	&-close {
		@include bp("max", "tablet") {
			display: flex;
			justify-content: flex-end;
		}
		@include bp("min", "tablet") {
			display: none;
		}
	}
}
