// Screen sizes
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-laptop: 992px;
$bp-desktop: 1200px;

$padding: 10px;

.nav-container {
	color: white;
	padding: $padding;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}

.nav-text {
	color: white;
}

.nav-signedin-container {
	display: flex;
	flex-direction: column;
}

@media (max-width: $bp-tablet) {
	.nav-close {
		display: flex;
		justify-content: flex-end;
	}
}

@media (min-width: $bp-tablet) {
	.nav-close {
		display: none;
	}
}