.tracker {
	&-container {
		padding: 10px;
	}

	&-card {
		display: flex;
		align-items: center;
	}

	&-button,
	&-time,
	&-name {
		padding: 5px;
	}

	&-time {
		font-size: 24px;
	}

	&-name {
		flex: 1;
	}

	&-name-input {
		width: 100%;
	}
}
