.tracker-container {
	padding: 10px;

	.tracker-card {
		display: flex;
		align-items: center;
		
		.tracker-button,.tracker-time,.tracker-name  {
			padding: 5px;
		}

		.tracker-time {
			font-size: 24px;
		}

		.tracker-name {
			flex: 1;
		}

		.tracker-name-input {
			width: 100%;
		}
	}
}