<div class="tracker-container">
	<mat-card class="tracker-card">
		<div class="tracker-button">
			<mat-icon class="md-48" [ngClass]="{'md-green': !started, 'md-red': started}">
				<span *ngIf="!started" (click)="onStart()">play_circle_fill</span>
				<span *ngIf="started" (click)="onStop()">stop</span>
			</mat-icon>
		</div>
		<div class="tracker-name">
			<mat-form-field class="tracker-name-input">
				<input type="text" [(ngModel)]="trackerName" matInput>
			</mat-form-field>
		</div>
		<div class="tracker-time">
			{{ tracker.getTimerDuration() | duration }}
		</div>
	</mat-card>
</div>