/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Manjari&display=swap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin: 0;
	font-family: 'Manjari', sans-serif;
	overflow: hidden;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; width: 48px; height: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Custom colors */
.material-icons.md-green { 
	color: rgb(40,167,69);

	&:hover {
		color: rgb(28,116,48);
	}
}
.material-icons.md-red  { 
	color: rgb(220,53,69);

	&:hover {
		color: rgb(154,37,48);
	}
}